# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env

# Build directories
dist/
build/

# Coverage directory used by testing tools
coverage/

# Temporary files
*.tmp
*.swp

# IDE files
.idea/
.vscode/
.DS_Store
php_sync_server/dbf_scripts
__pycache__
# Lock files
php_sync_server/locks/
*.lock
*.pid