<?php
/*
    CONFIDENTIAL FILE, SHOULD NOT EXPLOSE TO HTML
*/
abstract class ENV
{
    const DB_HOST = '127.0.0.1';
    const DB_PORT = '3306';
    const DB_USERNAME = 'root';
    const DB_PASSWORD = '';
    const DB_NAME = 'ubs_data';


    const API_URL = "https://127.0.0.1:8000";
}
